In [15]:
import pandas as pd
import matplotlib as plt
import numpy as np
import re
df= pd.read_csv('data\ml-32m\movies.csv')

df

<>:5: SyntaxWarning: invalid escape sequence '\m'
<>:5: SyntaxWarning: invalid escape sequence '\m'
C:\Users\luisl\AppData\Local\Temp\ipykernel_21064\3207321357.py:5: SyntaxWarning: invalid escape sequence '\m'
  df= pd.read_csv('data\ml-32m\movies.csv')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama
87581,292737,Shelter in Solitude (2023),Comedy|Drama
87582,292753,Orca (2023),Drama
87583,292755,The Angry Breed (1968),Drama
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary

In [18]:
def extract_year(title):
    match = re.search(r'\((\d{4})\)', title)
    if match:
        return match.group(1)
    return None

df['year'] = df['title'].apply(extract_year)
df['title'] = df['title'].apply(lambda x: re.sub(r'\s\(\d{4}\)', '', x))
df

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,None
1,2,Jumanji,Adventure|Children|Fantasy,None
2,3,Grumpier Old Men,Comedy|Romance,None
3,4,Waiting to Exhale,Comedy|Drama|Romance,None
4,5,Father of the Bride Part II,Comedy,None
...,...,...,...,...
87580,292731,The Monroy Affaire,Drama,None
87581,292737,Shelter in Solitude,Comedy|Drama,None
87582,292753,Orca,Drama,None
87583,292755,The Angry Breed,Drama,None
87584,292757,Race to the Summit,Action|Adventure|Documentary,None